h{
    color: antiquewhite;
}
p{
    color: rgb(255, 230, 3);
}
.m{
    background-color: cornsilk;
    color: black;
}
div{
    background-color: rgba(0, 0, 150, 0.699);
    color: bisque;
    border-radius: 15px;
    border-top: 80px;
    text-align: center;
    font-family: fantasy;
    font-style: italic;
    padding: 15px 20px 34px 35px;
    margin: 1000px 200px 300px 250px;
    border-color: rgb(240, 6, 166"
 
    font-size: medium;
}